@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: none #222;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    @apply select-none text-x-white;
  }

  h1 {
    @apply font-syne text-4xl xl:text-6xl 2xl:text-9xl;
  }

  h2 {
    @apply font-dm-sans text-xl xl:text-3xl;
  }

  h3,
  h4,
  h5,
  h6 {
    @apply font-syne text-xl xl:text-3xl;
  }

  h3 {
    @apply text-x-orange-300;
  }

  p {
    @apply font-syne;
  }
}

@font-face {
  font-family: 'Syne';
  src: url('../assets/fonts/Syne/Syne-Bold.woff2');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'DMSans';
  src: url('../assets/fonts/DMSans/DMSans-Regular.woff2');
  font-style: normal;
  font-weight: 400;
}
